

* {
    padding: 0%;
    margin: 0;

}


/* the navbar styled is the ul not the nav */
.navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-right: 40px;
    background-color: black;
    font-family: 'Space Mono', monospace;
    color: aliceblue;
}

body {
    background-color: bisque;
    color: black;
    /* justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto; */
}
a {
    color: aliceblue;
    text-decoration: none;
}
a:link {
    text-decoration: none;
}

a:visited {
    color: blueviolet;
}

a:hover {
    text-decoration: underline;
}


.logo {
    font-size: 22px;
    padding-right: 30vw;
}